{{!< layout-general}} <div id="page">
  <!-- Section Header Title -->
  <section class="bg-grey padding-top-45 padding-bottom-45 clearfix">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <div class="col-md-12">
            <h2>Bizim xəbərlər</h2>
          </div>
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End container -->
  </section>
  <!--  End Section -->

  <!-- Section BreadCrumb -->
  <div class="no-padding border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb breadcrumb-finance">
            <li>
              {{#link href='/'}}
              <i class="fa fa-home" aria-hidden="true"></i>
              Ana səhifə
              {{/link}}
            </li>
            <li class="active">Xəbərlər</li>
          </ol>
        </div>
        <!--  End col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End container -->
  </div>
  <!--  End Section -->
  <div class="line"></div>

  <!--List Blog -->
  <div class="no-padding">
    <div class="container">
      <div class="row">
        <div id="primary" class="content-area col-md-9 no-padding-right">
          <div id="main" class="site-main padding-top-50">
            {{!-- {{#get "posts" filter="tag:news" limit="3"}} --}}
            {{#foreach posts limit="4"}}
            <article class="item-lastest-news itemBlogList">
              <a href="{{url}}" style="max-height:500px" class="img-news-container">
                <img src="{{img_url feature_image}}" class="img-responsive" alt="Image" />
              </a>
              <div class="news-text-container">
                <a href="{{url}}">
                  <h3 class="title-news">
                    {{title}}
                  </h3>
                </a>
                <div class="latest-news-data">
                  <span class="tags"><a href="{{url}}">Financial</a>,
                    <a href="{{url}}"> Maketing</a></span>
                  <span class="dates">{{date
                    published_at
                    format="MMMM DD, YYYY"
                    }}</span>
                </div>
                <p>
                  {{excerpt}}
                </p>
                <a class="continueReading" href="{{url}}">Continue Reading</a>
              </div>
              <!-- End Text box -->
            </article>
            {{/foreach}}
            {{!-- {{/get}} --}}
            <div id="ghost-search-results"></div>
          </div>
          <!-- End Main -->
          <div class="col-md-12 d-flex justify-content-start  clearfix">
            <ul class="pagination pagination-finance">
              {{pagination}}
            </ul>
          </div>
          <div id="demo"></div>

        </div>

        <div id="secondary" class="widget-area col-md-3 padding-top-50" role="complementary">
          <aside class="widget widget_text">
            <h3 class="widget-title">About</h3>
            <div class="textwidget">
              <p>
                Nulla eleifend, sapien eget porttitor maximus, nisl ante
                convallis dolor, nec consequat felis ex a ex. Vestibulum, vitae
                fringilla nibh consectetur. Integer at volutpat augue.
              </p>
            </div>
          </aside>

          <aside class="widget widget_search">
            <form class="search-form">
              <input id="my-custom-input" type="text" />
              <div id="my-custom-results"></div>
            </form>
          </aside>
          {{! <aside id="categories-2" class="widget widget_categories">
            <h3 class="widget-title">Categories</h3>

            <ul>
              <li><a href="#">Business Market</a></li>
              <li><a href="#">Socials Network</a></li>
              <li><a href="#">Team Work</a></li>
              <li><a href="#">Rebuild Services</a></li>
              <li><a href="#">Electrical System</a></li>
            </ul>
          </aside> }}

          <aside class="widget widget_tag_cloud">
            <h3 class="widget-title">Tags</h3>
            <div class="tagcloud">
              {{#get "tags" limit="all"}}
              {{#foreach tags}}
              <a href="{{url}}" title="{{name}}">{{name}}</a>
              {{/foreach}}
              {{/get}}
              {{! <a href="#">audio</a>
              <a href="#">gallery</a>
              <a href="#">image</a>
              <a href="#">music</a>
              <a href="#">photo</a>
              <a href="#">quote</a>
              <a href="#">text</a>
              <a href="#">video</a>
              <a href="#">vimeo</a>
              <a href="#">youtube</a> }}
            </div>
          </aside>

        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End container -->
  </div>
  <!--  End Section -->
  </div>
  <script>
    addEventListener("load", (event) => {
      let h = window.innerHeight;
      document.getElementById("primary").style.minHeight = (screen.availHeight - 200) + "px"
      $("#sticked-menu-az").css("height", "108px");
      $("#sticked-menu-az").css("padding-top", "30px");
      $(window).scroll(function () {
        var sticked_menu_az_scroll_top = $(window).scrollTop()
        if (sticked_menu_az_scroll_top > 140) {
          $("#sticked-menu-az").css("height", "auto");
        } else {
          $("#sticked-menu-az").css("height", "108px");
          $("#sticked-menu-az").css("padding-top", "30px");
        }
      })
    })
  </script>
  <script src="https://unpkg.com/@tryghost/content-api@1.3.4/umd/content-api.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ghost-search@1.1.0/dist/ghost-search.min.js"
    integrity="sha256-yNPbNNfIwEJkDLzw2jUIQwqvwqjDIgc9rupcm4uqFqI=" crossorigin="anonymous"></script>
  <script>
    let ghostSearch = new GhostSearch({
      key: '5ebf4b0133d9c13fc51f86a082', // This is just a demo key. Replace the key with a real one. See Step 3.
      url: `${window.location.origin}`,  // This is just a demo host. Replace the demo url with a real one. See Step 3.
      input: '#my-custom-input',
      results: '#my-custom-results',
      options: {
        keys: [
          'title',
          'plaintext'
        ],
      },
      on: {
        afterDisplay: function (results) {
          if (results.total == 0 && document.getElementById('my-custom-input').value != '') {
            let resultsElement = document.getElementById('my-custom-results');
            let e = document.createElement('p');
            resultsElement.setAttribute("style", "text-align:center;");
            e.innerHTML = 'No Search results';
            resultsElement.appendChild(e.firstChild);
          };
        }
      },
      api: {
        resource: 'posts',
        parameters: {
          fields: ['title', 'slug', 'plaintext'],
          formats: 'plaintext',
        },
      },
      template: function (result) {
        let url = [location.protocol, '//', location.host].join('');
        return '<ul><li><a href="' + url + '/' + result.slug + '/' + '">' + result.title + '</a></li></ul>';
      }
    })
  </script>
  <style>
    .site-main {
      display: flex;
      flex-direction: column;
      padding: 0px;
      height: auto;
      width: auto;
      margin: 0;
      margin-top: 50px;
    }
  </style>